<div class="d-flex flex-column align-items-center">
    <div class="side-logo my-3">
        <img src="assets/images/game_logo.png" width="60" alt="logo">
    </div>
    <div class="side-link my-4">
        <a [routerLink]="'home'" class="h4">Home</a>
    </div>
    <div class="side-link my-4">
        <a [routerLink]="'shooter'" class="h4">Shooter Games</a>
    </div>
    <div class="side-link my-4">
        <a [routerLink]="'card'" class="h4">Card Games</a>
    </div>
    <div class="side-link my-4">
        <a [routerLink]="'strategy'" class="h4">Strategy Games</a>
    </div>
</div>