<div class="container-fluid text-center header d-flex justify-content-center">
    <div class="profile">
        <img src="../../../assets/images/1.jpg" alt="profileImage" width="100px">
        <h5>Steve Jobs</h5>
    </div>
    <div class="icons">
        <a href="https://twitter.com/angular" target="_blank"><img src="../../../assets/images/angular.png" alt="angularLogo" width="50px"></a>
        <a href="https://angular.io/docs" target="_blank"><img src="../../../assets/images/documentation.png" alt="documentation" width="50px"></a>
    </div>
</div>